.tst-checkout__main {
  display: grid;
  grid-template-columns: 1fr 380px;
  gap: 48px;
}

.tst-checkout__section {
  padding: 24px 0;
  border-bottom: 1px solid var(--tst-border);
}

@media (max-width: 989px) {
  .tst-product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .tst-product-layout,
  .tst-checkout__main {
    grid-template-columns: 1fr;
  }

  .tst-collection-layout {
    grid-template-columns: 1fr;
  }

  .tst-collection__filters {
    padding: 0;
    border: 0;
  }
}

@media (max-width: 749px) {
  .tst-container {
    width: calc(100% - 32px);
  }

  .tst-product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .tst-product-layout {
    gap: 24px;
  }
}
